.title{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: lightblue;
}
table {
  width: 100%;
  text-align: center;
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
}

table td,th{
  height: 35px;
  line-height: 35px;
  border-left: 1px solid blue;
  border-top: 1px solid blue;
}

body {
  background: url(/www/img/book.jpg) no-repeat;
  background-size: cover;
}